extends ../layout
block content
	.container-fluid
		.row
			.col-xs-12
				table.table-condensed.table-hover.table.availability-table
					thead
						th.category-headline hour
						th.category-headline sun
						th.category-headline mon
						th.category-headline tue
						th.category-headline wed
						th.category-headline thu
						th.category-headline fri
						th.category-headline sat

					tbody
						- for (var i=0; i<24; i++)
							tr
								td= i
								- for (var j=0; j<7; j++)
									td
										div.timeslotSelectorx