@import 'variables';

table#header {
  // @include border-default($red, 1px);
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-width: 1000px;
  width: 80%;
  margin: auto;

  td {
      // @include border-default($red, 1px);
      width: 250px;
      h1 {
          font-size: $font-header-size;
          text-align: center;
          @include elem_spacing();
      }
  }

  
}

#clear {
  background-color: transparent;
}