@import 'reset';

#header {
    table {
        // @include border-default($red, 1px);
        width: 1000px;
        margin: auto;
    }

    td {
        // @include border-default($red, 1px);
        width: 250px;
    }

    h1 {
        font-size: $font-header-size;
        text-align: center;
    }
}