@import 'reset';
nav {
	@include border-default($black, solid, $border-width);

	background-color: transparent;

  text-align: center;
  text-transform: uppercase;

  ul {
    width: 1000px;
    margin: auto;
  }

  li {
    width: 25%;
  }

  a {
    // @include border-default($red, 1px);
  }
}