@import 'variables';
nav {
	@include border-default($black, solid, $border-width);

	background-color: $tan;
  z-index: 99;

  

  text-align: center;
  text-transform: uppercase;

  ul {
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-width: 1000px;
    width: 80%;
    margin: auto;
  }

  li {
    width: 25%;
  }

}