/**
  *
  * Default colors
  *
**/

$black: #18191b;
$red: #fc5245;
$yellow: #e9e730;
$blue: #7babf3;
$tan: #dbe0d9;

@mixin color($color) {
  color: $color;
}

//  fonts & typefaces

//	credit: http://intavant.com/blog/2012/futura-web-font-alternatives/
$font-header: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
$font-header-size: 1500%;
$font-header-secondary-size: 500%;

$font-main: 'Slabo 13px', serif;

//  borders

@mixin border-default($color, $width) {
	border: $width solid $color;
}
$border-width: 3px;
