/**
  *
  * Default colors
  *
**/

$black: #2a2529;
$red: #c13f3f;  //fc5245
$yellow: #eac666;
$blue: #6286ba;
$tan: #dbe0d9;

@mixin color($color) {
  color: $color;
  background-color: transparent !important;
}

@mixin invert($color) {
  color: $tan;
  background-color: $color !important;
}

/**
  *
  * fonts & typeface
  *
**/

//	credit: http://intavant.com/blog/2012/futura-web-font-alternatives/
$font-header: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
$font-header-size: 1600%;
$font-header-secondary-size: 500%;

$font-main: $font-header;
// $font-main: 'Slabo 13px', serif;

/**
  *
  * borders
  *
**/

@mixin border-default($color, $style, $width) {
	border-top: $width $style $color !important;
  border-bottom: $width $style $color !important;
}
$border-width: 3px;

@mixin removeBootstrapDefaults() {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


/**
  *
  * spacing
  *
**/

$default-padding: 1%;
$default-margin: 1%;

@mixin div_spacing() {
  padding: $default-padding;
  margin: $default-margin;
}

@mixin elem_spacing() {
  margin: 0px;
  padding: 5%;
}


/**
  *
  * animation
  *
**/

@mixin transition($speed) {
  transition: background $speed linear;
  -webkit-transition: background $speed linear;
  -moz-transition: background $speed linear;
  -o-transition: background $speed linear;
  transition: background $speed linear;
}

$transition-time-default: 400ms;
