@import 'variables';

//	style
.black {
	@include color($black);
}

.black:hover {
	@include invert($black);
}

.yellow {
	@include color($yellow);
}

.yellow:hover {
	@include invert($yellow)
}

.blue {
	@include color($blue);
}

.blue:hover {
	@include invert($blue)
}

.red {
	@include color($red);
}

.red:hover {
	@include invert($red)
}

.section-header {
  @include invert($black);
	@include div_spacing();
	border: $black solid $border-width;
	font-family: $font-header;
}
.section-header:hover {
}

//	layout etc

#main {
	padding-top: 70px;
	padding-bottom: 200px;
}

#login {
	text-align: right;
	p {
		text-align: right;
	}
}
