@import 'variables';

body {
	background-color: $tan;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-header;
	color: $black;

	text-transform: uppercase;
	text-align:center;
}

p {
	font-family: $font-main;
	color: $black;
}

a {
	font-family: $font-header;
	color: $black;
}
a:hover {
	@include invert($red);
}

section {
	z-index: 99;
	background-color: $tan;
	@include div_spacing();
	border: $black solid $border-width;
	font-family: $font-main;
}

article {
	@extend section;
}

table {
	@extend section;
	th {
		text-transform: uppercase;
		font-family: $font-header;
		text-align: center;
	}

	td {
		text-align: center;
		.title {
			text-transform: uppercase;
		}
		.automator {
			text-transform: lowercase;
			font-style: italic;
		}
	}

	td.hour {
		font-family: $font-header;
	}
}



@import 'header';
@import 'navbar';
@import 'playlist';
