@import 'variables';

body {
	background-color: $tan;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-header;
	color: $black;

	text-transform: uppercase;
	text-align:center;
}

* {
	font-family: $font-main;
}

p {
	font-family: $font-main;
	color: $black;
	text-align: center;
}

a {
	font-family: $font-header;
	color: $black;
}
a:hover {
	border-bottom: 1px;
	color: $black;
	background-color: inherit !important;
}
a:focus {
	border-bottom: 1px;
	color: $black;
	background-color: inherit !important;
}

section {
	z-index: 99;
	background-color: $tan;
	@include div_spacing();
	border: $black solid $border-width;
	font-family: $font-main;
}

article {
	@extend section;
	@include elem_spacing();
}

table {
	margin-left: auto;
	margin-right: auto;
	@extend section;
	th {
		text-transform: uppercase;
		font-family: $font-header;
		text-align: center;
		@include invert($black);
	}

	td {
		text-align: center;

		.title {
			text-transform: uppercase;
			word-wrap: break-word;
		}
		.automator {
			text-transform: lowercase;
			font-style: italic;
		}
	}

	td.hour {
		font-family: $font-header;
		width: 20px;
		@include invert($black);
	}
}

tr.scheduleRow {
	td:not(.hour) {
		max-width: 50px;
	}
}

label {
	font-family: $font-header;
	text-transform: uppercase;
}

input, textarea {
	font-family: $font-main;
	outline: none;
	border-bottom: 3px solid $black !important;
	@include removeBootstrapDefaults();
}

.form-control {
	border: none;
	border-radius: 0;
	background-color: $tan;
}

button:not(.close) {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: $font-header;
	text-transform: uppercase;
	@include removeBootstrapDefaults();
	border: $border-width solid $black !important;
	border-radius: 0 !important;
}

button.btn-default {
	background-color: $tan;
}

button.btn-default:hover {
	@include invert($black);
}

span {
	word-wrap: break-word;
}




@import 'header';
@import 'navbar';
@import 'playlist';
@import 'footer';
