#messages
  each type in Object.keys(messages)
    div(class="alert alert-dismissible alert-#{type}")
      button.close(type='button' data-dismiss='alert' aria-label='Close' )
        span(aria-hidden='true') &times;
      each message in messages[type]
        p= message
