nav#navbar.navbar.navbar-fixed-top
  .container-fluid
    ul.nav.navbar-nav
      li
        a.black(href='/about') About
      li
        a.yellow(href='/staff') Staff
      li
        a.blue(href='/shows') Shows
      li
        a.red(href='/apply') Apply
