nav.navbar-navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') /logo

    .collapse.navbar-collapse#nav
      ul.nav.navbar-nav
        li.headerCell
          a.black(href='/about') about
        li.headerCell
          a.yellow(href='/shows') shows
        li.headerCell
          a.blue(href='/staff') staff
        li.headerCell
          a.red(href='/archive') archive