doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/build/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/build/css/style.min.css')
    link(href='http://fonts.googleapis.com/css?family=Slabo+13px&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1') 
        
  body
    //- include components/_header
    include components/_navbar
    #main
      include components/_login
      block content
    include components/_player
    //- include components/_footer
    script(src='/build/bower_components/jquery/dist/jquery.min.js')
    script(src='/build/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/build/bower_components/moment/moment.js')
    script(src='/build/js/scripts.min.js') 
    block scripts
