extends layout

block content
	h1.category-headline= title
	p Expect an email from us within a week with more information. If you have any problems with the application, please send an email to 
		a(href='mailto:wmcn@macalester.edu') wmcn@macalester.edu
		span . Thanks!
