extends layout

block content
	div hello #{djName}!
	div please enter your confirmation code below
	div note, I think they should be posting to action='/signup/:bigUrl'
	form(action='/signup/#{bigUrl}', method='post')
		.form-group
			label Please enter your confirmation code
			input.form-control(type='text', name='confiCode')
		button.btn.btn-warning.btn-lg(type='submit') Become A DJ

	//- form(action='/signup', method='post')
	//- 	.form-group
	//- 		label Email
	//- 		input.form-control(type='text', name='email')
	//- 	.form-group
	//- 		label Password
	//- 		input.form-control(type='password', name='password')
	//- 	button.btn.btn-warning.btn-lg(type='submit') Become A DJ