#info.row.footer
	.footer-col.col-xs-12.col-md-4
		h4.category-headline  mission:
		p Like many college radio stations, WMCN is limited only by our DJs' imaginations. Our programming consists of a broad spectrum of music - from independent record labels and artists to Top 40 - along with a spattering of talk, news, and announcements.WMCN is a truly freeform broadcast. We have 66 unique weekly programs, each with its own host DJ[s] and theme. They determine the playlists for each broadcast of their own shows independently, with no need for approval from management and no "master list" to choose from. Since the majority of our listeners are Macalester students and Mac-Groveland residents, we try to provide a mix of genres proportional to their tastes, while representing as many genres as possible in the spirit of the liberal arts philisophy.
	.footer-col.col-xs-12.col-md-4
		h4.category-headline  history:
		p The history of Macalester radio starts long before the FM years. Formerly WBOM, the station was off the air from 1955-1961 because of a "campus space shortage." When space and interest opened up in 1961, KMAC went on the air at 550 AM, broadcasting from a vacated classroom in the student union, playing mainly folk and jazz from noon to midnight seven days a week. KMAC was carried into Macalester dormitories through wiring in the walls. This state of affairs continued through the sixties and into the seventies, with the station building up a collection of records, equipment, and notoriety - at least on campus. In 1967 the radio station had 62 students on staff, a significant number for a school of only about 1600. WMCN got FCC approval to build an FM studio in 1978 with money obtained through Macalester's "community council" and other on campus organizations that were sympathetic to the cause. The Macalester administration provided no funds. WMCN 91.7 FM, went on the air on October 6, 1979 at 10 PM with a "Switch Hitter's Ball" featuring three bands (Hypstrz, Mutuals, Jinx) broadcast from the union in celebration. Initially broadcasting 24 hours a day with around 60 DJs, WMCN focused on what was then called "progressive rock, new wave, jazz and country-rock music."
	.footer-col.col-xs-12.col-md-4
		h4.category-headline  info:
		h5.category-headline -------- spring 2015 staff --------
		ul.list-unstyled
			li
				span.link-futura General Manager: 
				span Jacob Frank
			li
				span.link-futura Program Manager: 
				span Simona Zappas
			li
				span.link-futura Communication Manager: 
				span Sam Landsberg
			li
				span.link-futura Web Director: 
				span Will Kent-Daggett
			li
				span.link-futura Music Directors: 
				span John Kreitzberg, Nicole Emanuel, Rob Granfelt, Chris Herrmann, Alex Edelmann, Catie Ball, Matthew Later, Leo Kendrickson
		br

		h5.category-headline -------- contact --------
		address
			ul.list-unstyled
				li.link-futura wmcn 91.7
				li Macalester College 
				li 1600 Grand Avenue
				li Saint Paul, Minnesota 55105
				li Office Phone: 
					a(href='tel:6516966082') 651-696-6082
				li Live Request Line: 
					a(href='tel:6516966312') 651-696-6312
				li 
					a(href= 'mailto:wmcn@macalester.edu') wmcn@macalester.edu
		br

		h5.category-headline -------- links --------
		p
			a(href='http://wmcn.tumblr.com/') Tumblr, 
			span
				a(href='https://www.facebook.com/WMCN917') Facebook, 
			span
				a(href='https://twitter.com/WMCN917') Twitter, 
			span
				a(href='http://www.mixcloud.com/WMCN917FM/') Mixcloud, 
			span
				a(href='') Soundcloud, 
			span
				a(href='https://github.com/wmcn-fm') Github, 
			span
				a(href='http://216.250.175.13:8000/listen.pls') Downloadable streaming link

		//- if user.isLoggedIn
		//- 	p Signed in as 
		//- 		span= user.firstName + user.lastName
		//- 		a(href='javascript:logout()') (Sign out)
		//- else
		//- 	p
		//- 		a(href='javascript:promptLogin()') Site login

		

	.col-md-4.col-md-offset-4.cr-wrapper
		p.copyright (c) 2014 WMCN 91.7fm
	.col-md-4
		p 
			span
				//- a(href='#loginModal' data-toggle="modal") Site Login
				a(href='/login') Site Login
			span  |  
			span
				a(href='/dj') DJs
			span  |  
			span
				a(href='/admin') Admin
