.row
		.footer
			- var i=0;
			while i < 4
				.col-md-3.footer-coll
					h4.fixie
					ul
						li.fixie
						li.fixie
						li.fixie
						li.fixie
				- i++
			.col-md-12
				.cr-wrapper
					p.copyright (C) 2014 WMCN | 1600 Grand Ave Saint Paul MN 55104 | 612.696.6666
