.row
	.logo-main
		//- a(href='/')
		table.visible-lg.visible-md
			tr
				td
					h1.grey w
				td
					h1.yellow m
				td
					h1.blue c
				td
					h1.red n
			tr
				td
					h1.grey 9
				td
					h1.yellow 1
				td
					h1.blue &deg;
				td
					h1.red 7
