table.visible-lg.visible-md
  tr
    td
      h1.black w
    td
      h1.yellow m
    td
      h1.blue c
    td
      h1.red n
  tr
    td
      h1.black 9
    td
      h1.yellow 1
    td
      h1.blue &deg;
    td
      h1.red 7