extends layout

block content
	.container-fluid
		.row
			section.content-quad.col-md-12.col-lg-6
				h1 latest shows:
				div#playlist-carousel.carousel.slide(data-ride='carousel')
					ol.carousel-indicators
						li(data-target='playlist-carousel' data-slide-to='0').active
						li(data-target='playlist-carousel' data-slide-to='1')
					.carousel-inner
						.item.active
							img(src='holder.js/400x400')
						.item
							img(src='holder.js/400x400')
					a.left.carousel-control(href='#playlist-carousel' role='button' data-slide='prev')
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control(href='#playlist-carousel' role='button' data-slide='next')
						span.glyphicon.glyphicon-chevron-right
			section.content-quad.col-md-12.col-lg-6
				h1 new reviews:
				div#review-carousel.carousel.slide(data-ride='carousel')
					ol.carousel-indicators
						li(data-target='review-carousel' data-slide-to='0').active
						li(data-target='review-carousel' data-slide-to='1')
					.carousel-inner
						.item.active
							img(src='holder.js/400x400')
						.item
							img(src='holder.js/400x400')
					a.left.carousel-control(href='#review-carousel' role='button' data-slide='prev')
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control(href='#review-carousel' role='button' data-slide='next')
						span.glyphicon.glyphicon-chevron-right
		.row
			section.content-quad.col-md-12.col-lg-6
				h1.fixie
				div#pinned1
					img(src='holder.js/610x400')
			section.content-quad.col-md-12.col-lg-6
				h1.fixie
				div#pinned2
					img(src='holder.js/610x400')
		.row
			section.col-xs-12#schedule
				h1 show schedule: 
				table.table.table-hover
					thead
						- var headers = ['time', 'sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
						- each item, i in headers
							th= item
					tbody
						- for (var i=0; i < 25; i++)
							tr
								td= i
								- for (var j=0; j < 7; j++)
									td.fixie


		//- include footer
