doctype html
html
  head
    title= title
    block scripts
    link(rel='stylesheet', href='/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    link(rel='stylesheet', href='/stylesheets/landing.css')
    //- link(rel='stylesheet', href='/stylesheets/custom.css')
    //- link(rel='stylesheet', href='/stylesheets/post.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(href='http://fonts.googleapis.com/css?family=Slabo+13px&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')        
  body
    include login_modal
    include header
    include navbar
    block content
    include footer
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    // script(src='/javascripts/bower_components/jQuery/dist/jquery.min.js')
    script(src='/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js')

    script(src='/javascripts/global.js')
    script(src='/javascripts/admin.js')
    script(src='/javascripts/landing.js')
    script(src='/javascripts/ga.js')
    // script(src='/javascripts/dev-client.js')
