extends layout

block content
	style.
		p, form { 
			padding-left: 50px;
			padding-right: 50px; 
		}

	p This form is for testing the LOG IN!
	form(action='/login', method='post')
		.form-group
			label Email
			input.form-control(type='text', name='email')
		.form-group
			label Password
			input.form-control(type='password', name='password')
		button.btn.btn-warning.btn-lg(type='submit') Login

	p This form is for testing the SIGN UP!
	form(action='/sign_up', method='post')
		.form-group
			label Email
			input.form-control(type='text', name='email')
		.form-group
			label Password
			input.form-control(type='password', name='password')
		button.btn.btn-warning.btn-lg(type='submit') Login

