extends layout

block content
	style.
		p, form { 
			padding-left: 50px;
			padding-right: 50px; 
		}

	p a div will appear right under me with a flash message depending on if the user
		| logged in/signed up correctly or not.
	div #{message}

	p This form is for testing the LOG IN!
	form(action='/login', method='post')
		.form-group
			label Email
			input.form-control(type='text', name='email')
		.form-group
			label Password
			input.form-control(type='password', name='password')
		button.btn.btn-warning.btn-lg(type='submit') Login

	//- p This form is for testing the SIGN UP!
	//- form(action='/signup', method='post')
	//- 	.form-group
	//- 		label Email
	//- 		input.form-control(type='text', name='email')
	//- 	.form-group
	//- 		label Password
	//- 		input.form-control(type='password', name='password')
	//- 	button.btn.btn-warning.btn-lg(type='submit') Sign in

