nav.navbar.navbar-default.center(role='navigation')
	.navbar-header
		button.navbar-toggle(type='button' data-toggle='collapse' data-target='#nav-main')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		.navbar-brand
			a(href='/')
				img.icon(src='/images/favicon.png')
			.currentShow-container
				ul.nav.navbar-nav
					li
						span now playing: 
						span.currentShow= currentShow
	div#nav-main.collapse.navbar-collapse
		ul.nav.navbar-nav
			li
				a(href = '/archive')
					button.btn.btn-default.navbar-btn archive
			li
				a(href = '#schedule')
					button.btn.btn-default.navbar-btn schedule
			li
				a(href = '/reviews')
					button.btn.btn-default.navbar-btn reviews
			li
				a(href = '/news')
					button.btn.btn-default.navbar-btn news
			li
				a(href = '/info')
					button.btn.btn-default.navbar-btn info
