nav#nav.navbar.navbar-default.center(role='navigation')
	.navbar-header
		button.navbar-toggle(type='button' data-toggle='collapse' data-target='#nav-main')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='/')
			img.icon(src='/images/favicon.png')
			//- .currentShow-container
				//- ul.nav.navbar-nav
				//- 	li
				//- 		span now playing: 
				//- 		span.currentShow= currentShow
	div#nav-main.collapse.navbar-collapse
		ul.nav.navbar-nav
			li.currentShow
				// - var urlStem = '/shows/' + currentShow
				//- a(href!='javascript:playStream();')
				//- a(href='#')
				button.btn.navbar-btn.streamButton
					span.glyphicon.glyphicon-volume-up 
					span  listen live 
					//- span.glyphicon.glyphicon-music
				audio#streamPlayer(controls='controls' src!='http://216.250.175.13:8000/;type=mp3')
			//- li
			//- 	a(href = '/archive')
			//- 		button.btn.navbar-btn archive
			//- li
			//- 	a(href = '/#schedule')
			//- 		button.btn.navbar-btn schedule
			li
				a(href = '/reviews')
					button.btn.navbar-btn reviews
			li
				a(href = '/news')
					button.btn.navbar-btn news
			li
				a(href = '/info')
					button.btn.navbar-btn info
			li
				a(href = '/apply/dj')
					button.btn.navbar-btn apply

