extends _layout

block content
  .container-fluid
    .row
      #staff
        each tier, index in staff
          #tier.col-xs-12.col-sm-6.col-md-3
            h2= index
            each user in tier
              - var userHref = '/staff/' + user.id
              a(href=userHref)
                p #{user.first_name} #{user.last_name}
        
