.dj-action {
  border-color: red;
  border-style: dotted;
  border-width: 1px;
}

.menu-action {
  text-align: center;
  border-color: red;
  border-style: dotted;
  border-width: 1px;
}

.form-container {
	border-color: red;
	border-style: dotted;
	border-width: 1px;
}

/*.saPair {
	border-color: green;
	border-style: dotted;
	border-width: 1px;
  text-align: center;
  /*margin: 0 auto;*/
}*/

.submit {
  text-align: center;
  margin: 0 auto;
}

.number {
  text-align: center;
  vertical-align: center;
}