.footer {
  margin-top: 5%;
  background-color: #ddd;
  text-align: center;
  float: both;
  color: #282828; }
  .footer li {
    text-align: center; }

.footer-col {
  padding: 1%; }

ul {
  list-style-type: none !important; }

.copyright {
  font-size: 0.6em; }
