.footer {
  margin-top: 5%;
  background-color: #ddd;
  text-align: center;
  float: both;
  color: #282828; }

.footer-col {
  padding: 1%; }

.footer ul li {
  font-family: 'Slabo 13px', serif !important; }

.copyright {
  font-size: 0.8em; }
