thead {
  background-color: #ffffff !important; }

*:focus {
  outline: none !important; }

a {
  text-decoration: none !important;
  color: #282828 !important; }

a:hover {
  color: #282828 !important;
  text-decoration: underline !important; }

button {
  background-color: transparent;
  border: 2px solid white !important;
  color: white;
  font-family: futura !important;
  text-transform: uppercase; }

button.bt {
  background-color: transparent;
  border: 2px solid #282828 !important;
  color: #282828;
  font-family: futura !important;
  text-transform: uppercase; }

button.submitBt {
  background-color: transparent;
  border: 2px solid #282828 !important;
  color: #282828;
  font-family: futura !important;
  text-transform: uppercase;
  width: 100%;
  margin-top: 5%;
  padding-left: 2%;
  padding-right: 2%; }

button.submitBt:hover, button.bt:hover {
  color: white;
  background-color: #282828; }

button:hover {
  color: #282828;
  background-color: white; }

.pressed {
  color: #282828;
  background-color: white; }

label {
  font-family: futura !important;
  text-transform: uppercase; }

textarea {
  border: 2px solid #282828 !important;
  font-family: futura !important; }

input[type='text'], input[type='checkbox'], input[type='number'], input[type='tel'], input[type='email'], input[type='password'] {
  border: 2px solid #282828;
  font-family: futura !important;
  color: #282828; }

input[type=radio], input[type='checkbox'] {
  border-radius: 15px;
  -webkit-appearance: button;
  border: 2px solid #282828;
  background-color: white;
  color: #282828;
  white-space: nowrap;
  overflow: hidden;
  width: 15px;
  height: 15px; }

input[type=radio]:checked, input[type='checkbox']:checked {
  background-color: #282828; }

input[type='text']:focus, textarea, input[type='number']:focus, input[type='tel']:focus, input[type='email']:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

ul, li {
  text-align: center; }

.post-main {
  border: 2px solid #282828; }
  .post-main img {
    padding-top: 2%; }

.page-header {
  text-align: center; }

.post-date {
  font-size: 50%;
  font-style: italic; }

.thumbnail h4 {
  text-align: center; }

.grey {
  color: #bdbdbd; }

.yellow {
  color: #ff8900; }

.blue {
  color: #086fa1; }

.red {
  color: #a31010; }

.black {
  color: #282828; }

h1, h2, h3, h4, h5, h6, input {
  font-family: futura !important;
  text-align: center; }

p {
  font-family: 'Slabo 13px', serif !important;
  text-align: center; }

.category-title {
  text-transform: uppercase;
  font-family: futura;
  text-align: center; }

.category-headline {
  text-transform: uppercase;
  text-align: center; }

.app-category {
  text-transform: uppercase;
  text-align: left;
  padding-left: 2%; }

.category-container {
  padding-top: 25%;
  height: 100%; }

.thumbnail {
  border: none; }
  .thumbnail li {
    text-align: center; }

.review-overlay {
  margin-top: 25% !important;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
  max-width: 90%;
  height: 300px !important;
  max-height: 300px !important; }

a.review-title:hover {
  visibility: visible; }

.hosts, .author {
  font-family: futura !important;
  text-transform: uppercase; }

.author, .link-futura {
  font-family: futura !important;
  text-transform: uppercase; }

.form-group {
  padding-left: 2%;
  padding-right: 2%; }

.availability-table {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  margin: auto; }

td, th {
  font-family: futura !important;
  text-align: center; }

table.availability-table td {
  border: 2px solid #282828; }
table.availability-table th {
  border-bottom: 2px solid #282828 !important; }

.dj-number {
  padding-left: 2%; }

.available-slot {
  background-color: #7CF379 !important; }

.album-image {
  width: 100%;
  max-width: 100%;
  padding-top: 2%; }

.modal-title {
  text-transform: uppercase; }

.modal-content {
  border: 2px solid #282828 !important; }

.menu-action {
  border: 3px solid #282828;
  height: 100px;
  padding-top: 25px; }
