$grey : #bdbdbd;
$yellow : #ff8900;
$blue : #086fa1;
$red : #a31010;
$black: #282828;
$alt-grey: #ddd;

$font-main : futura !important;
$font-helper : 'Slabo 13px', serif !important;

.footer {
  margin-top: 5%;
  background-color: $alt-grey;
  text-align: center;
  float: both;
  color: $black;
  li {
    // text-align: center;
  }
}

.footer-col {
  // margin: 1%;
  padding: 1%;
}

.footer ul li {
  font-family: $font-helper;
}


// .footer-col > li {
//   font-size: 0.2em;
// }



.copyright {
  font-size: 0.6em;
}



