//  variables:
$grey : #bdbdbd;
$yellow : #ff8900;
$blue : #086fa1;
$red : #a31010;
$black: #282828;

$font-main : futura !important;
$font-helper : 'Slabo 13px', serif !important;

.logo-main table {
  margin: auto;
  font-family: futura;
  max-width: 500px;
  text-transform: uppercase;
}

.logo-main h1 {
  font-size: 1500%;
  text-align: center;
}

.logo-main table:hover {
   cursor: crosshair;
}

@mixin playlist-size {
  width: 800px;
  height: 800px;
  overflow: hidden;
  text-align: center;
}

.playlist1 {
  background-color: $grey;
  @include playlist-size;
}

.playlist2 {
  background-color: $yellow;
  @include playlist-size;

}

.playlist3 {
  background-color: $blue;
  @include playlist-size;
}

.playlist4 {
  background-color: $red;
  @include playlist-size;
}

.playlist1-show, .playlist2-show, .playlist3-show, .playlist4-show {
  text-transform: uppercase;
}

h1.category-title {
  text-transform: uppercase;
  font-family: futura;
  text-align: center;

}

h1.category-headline {
  text-align: center;
  padding-top: 15%;
}


.carousel {
  height: 100% !important;
  max-height: 500px;
  overflow: hidden;
  border: 3px solid $black;
}

.item {
  img, div {
    width: auto;
    height: 500px;
    max-height: 500px;
  } 
}

section {
  padding-top: 2%;
}
#pinned {
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: white;
  border: 3px solid $black;

  
}

.helper-text {
  font-family: $font-helper;
}
