.icon-container {
  height: 100%;
  max-width: 50px;
  width: 5%;
}

img.icon {
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

// .currentShow {
//   float: left;
// }

.nav-categories {
  height: 100%;
  width: 80%;
  float: left;
}

.nav-category {
  width: 20% !important;
  height: 100%;
  float: left;
}

.navbar-brand {
  width: 20% !important;
}



.navbar {
  font-family: futura !important;
  background-color: #282828;
}

.navbar.center {
  text-align: center;
}

.navbar.center .nav {
  display: inline-block;
  float: none;
}

.navbar button {
  text-transform: uppercase;
}

.nav-category > * {
  vertical-align: center;
  text-transform: uppercase;
  text-align: center;
}

.nav-category > * > a {
  color: white !important;
  text-decoration: none !important;
}

a {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

li {
  // float: left;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;
}

#streamPlayer {
  display: none;
}

.streamButton {
  
}
