.page-header {
  text-align: center;
}

.post-date {
  font-size: 50%;
  font-style: italic;
}

.thumbnail h4 {
  text-align: center;
}

.thumbnail {
  margin: auto;
  float: right;
}

.relatedContent {
  text-align: center;
}

.relatedContent .thumbnail {
  margin: auto;
}

.left-block img {
  width: 100%;
  padding-top: none;
  max-width: 350px;
  max-height: 350px;
}

.post-header {
  background-color: #CCCCCC;
  padding-bottom: 10px;
}

.right-block {
  float: right;
  width: 70%;
  text-align: left;
  padding-top: 2%;`
}

.left-block {
  float: left;
  width: 30%;
  text-align: right;
  padding-right: 2%;
  padding-top: 2%;
}

p {
  font-size: 1.4em;
}
