doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/dj.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/global.js')
    script(src='/javascripts/admin.js')
    script(src='/javascripts/jquery.floatThead.min.js')
    //script(src='/javascripts/livereload.js')
