extends layout-dj

block content
	.container-fluid
		.row
			.col-xs-12
				h1.category-headline select an action: 
		.row
			.col-xs-12.col-sm-3.col-sm-offset-3
				a(href='/dj/playlist')
					h2.category-headline.menu-action playlist
			.col-xs-12.col-sm-3
				//- a(href='/dj/blog')
				h2.category-headline.menu-action blog
		.row
			.col-xs-12.col-sm-3.col-sm-offset-3
				//- a(href='/dj/review')
				h2.category-headline.menu-action review
			.col-xs-12.col-sm-3
				//- a(href='/dj/user')
				h2.category-headline.menu-action user