extends ../layout

block content
	.container-fluid
		h1= title

	form(role='form', method='post', action='/dj-application', id='djAppSubmission')
		.container-fluid
			.row
				.col-xs-4
					.form-group
						label(for='djStatus') are you a new or returning dj?
						.radio
							label new
							input#newDj(type='radio', name='djStatus', value='true')
						.radio
							label returning
							input#returningDj(type='radio', name='djStatus', value='false')
		.container-fluid
			.row
				.col-xs-2
					.form-group
						label(for='firstName') first name
						input#firstName.form-control(type='text', placeholder='john', name='firstName')
				.col-xs-2
					.form-group
						label(for='lastName') last name
						input#lastName.form-control(type='text', placeholder='smith', name='lastName')
		.container-fluid
			.row
				.col-xs-2
					.form-group
						label(for='email') email address
						input#email.form-control(type='email', placeholder='myname@macalester.edu', name='email')
				.col-xs-2
					.form-group
						label(for='phone') phone number
						input#phone.form-control(type='tel', placeholder=1234567890, name='phone')
		.container-fluid
			.row
				.col-xs-2
						label(for='studentStatus') are you a current student?
						.radio
							//label yes
							input#isStudent.form-control(type='radio', name='studentStatus', value='true')
						.radio
							//label no
							input#isNotStudent.form-control(type='radio', name='studentStatus', value='false')

		.container-fluid
			.row
				.col-xs-2
					.form-group
						label(for='macIdNum') macalester id number
						input#idNum.form-control(type='number', name='macIdNum', placeholder=012345678)
				.col-xs-2
					.form-group
						label(for='iclass') 5-digit iclass number
						input#iclass.form-control(type='number', name='iclass', placeholder=12345)
				
		.container-fluid
			.row
				.col-xs-2
					.form-group
						label(for='gradYear') enter your grad year
						.radio
							label 2015
							input(type='radio', name='gradYear', value=2015)
						.radio
							label 2016
							input(type='radio', name='gradYear', value=2016)
						.radio
							label 2017
							input(type='radio', name='gradYear', value=2017)
						.radio
							label 2018
							input(type='radio', name='gradYear', value=2018)
						.radio
							label not a student
							input(type='radio', name='gradYear', value=0)
						.radio
							.input-group
								.input-group-addon
									input(type='radio', name='gradYear')
								input.form-control(type='number', name='gradYearOther', placeholder=1984)

		.container-fluid
			.row
				.col-xs-2
					.form-group
						label(for='show title') show title
						input#title.form-control(type='text', placeholder='my show', name='show')
				

				.col-xs-2
					.form-group
						label(for='blurb') program guide blurb
						textarea.form-control(rows='2', name='blurb')
						p.help-block a short 2-3 sentence show description for the program guide.

		.container-fluid
			.row
				.col-xs-8
					label select your availability on mondays
					.form-group
						label.checkbox-inline 10
							input(type='checkbox', id='0')
						label.checkbox-inline 11
							input(type='checkbox', id='1')
						label.checkbox-inline 12
							input(type='checkbox', id='2')
						label.checkbox-inline 1
							input(type='checkbox', id='3')
						label.checkbox-inline 2
							input(type='checkbox', id='4')
						label.checkbox-inline 3
							input(type='checkbox', id='5')
						label.checkbox-inline 4
							input(type='checkbox', id='6')
						label.checkbox-inline 5
							input(type='checkbox', id='7')
						label.checkbox-inline 6
							input(type='checkbox', id='8')
						label.checkbox-inline 7
							input(type='checkbox', id='9')
						label.checkbox-inline 8
							input(type='checkbox', id='10')
						label.checkbox-inline 9
							input(type='checkbox', id='11')
						label.checkbox-inline 10
							input(type='checkbox', id='12')
						label.checkbox-inline 11
							input(type='checkbox', id='13')
						label.checkbox-inline 12
							input(type='checkbox', id='14')
						label.checkbox-inline 1
							input(type='checkbox', id='15')
			.row
				.col-xs-8
					label select your availability on tuesdays
					.form-group
						label.checkbox-inline 10
							input(type='checkbox', id='0')
						label.checkbox-inline 11
							input(type='checkbox', id='1')
						label.checkbox-inline 12
							input(type='checkbox', id='2')
						label.checkbox-inline 1
							input(type='checkbox', id='3')
						label.checkbox-inline 2
							input(type='checkbox', id='4')
						label.checkbox-inline 3
							input(type='checkbox', id='5')
						label.checkbox-inline 4
							input(type='checkbox', id='6')
						label.checkbox-inline 5
							input(type='checkbox', id='7')
						label.checkbox-inline 6
							input(type='checkbox', id='8')
						label.checkbox-inline 7
							input(type='checkbox', id='9')
						label.checkbox-inline 8
							input(type='checkbox', id='10')
						label.checkbox-inline 9
							input(type='checkbox', id='11')
						label.checkbox-inline 10
							input(type='checkbox', id='12')
						label.checkbox-inline 11
							input(type='checkbox', id='13')
						label.checkbox-inline 12
							input(type='checkbox', id='14')
						label.checkbox-inline 1
							input(type='checkbox', id='15')

			.row
				.col-xs-8
					label select your availability on wednesdays
					.form-group
						label.checkbox-inline 10
							input(type='checkbox', id='0')
						label.checkbox-inline 11
							input(type='checkbox', id='1')
						label.checkbox-inline 12
							input(type='checkbox', id='2')
						label.checkbox-inline 1
							input(type='checkbox', id='3')
						label.checkbox-inline 2
							input(type='checkbox', id='4')
						label.checkbox-inline 3
							input(type='checkbox', id='5')
						label.checkbox-inline 4
							input(type='checkbox', id='6')
						label.checkbox-inline 5
							input(type='checkbox', id='7')
						label.checkbox-inline 6
							input(type='checkbox', id='8')
						label.checkbox-inline 7
							input(type='checkbox', id='9')
						label.checkbox-inline 8
							input(type='checkbox', id='10')
						label.checkbox-inline 9
							input(type='checkbox', id='11')
						label.checkbox-inline 10
							input(type='checkbox', id='12')
						label.checkbox-inline 11
							input(type='checkbox', id='13')
						label.checkbox-inline 12
							input(type='checkbox', id='14')
						label.checkbox-inline 1
							input(type='checkbox', id='15')
			.row
				.col-xs-8
					label select your availability on thursdays
					.form-group
						label.checkbox-inline 10
							input(type='checkbox', id='0')
						label.checkbox-inline 11
							input(type='checkbox', id='1')
						label.checkbox-inline 12
							input(type='checkbox', id='2')
						label.checkbox-inline 1
							input(type='checkbox', id='3')
						label.checkbox-inline 2
							input(type='checkbox', id='4')
						label.checkbox-inline 3
							input(type='checkbox', id='5')
						label.checkbox-inline 4
							input(type='checkbox', id='6')
						label.checkbox-inline 5
							input(type='checkbox', id='7')
						label.checkbox-inline 6
							input(type='checkbox', id='8')
						label.checkbox-inline 7
							input(type='checkbox', id='9')
						label.checkbox-inline 8
							input(type='checkbox', id='10')
						label.checkbox-inline 9
							input(type='checkbox', id='11')
						label.checkbox-inline 10
							input(type='checkbox', id='12')
						label.checkbox-inline 11
							input(type='checkbox', id='13')
						label.checkbox-inline 12
							input(type='checkbox', id='14')
						label.checkbox-inline 1
							input(type='checkbox', id='15')
			.row
				.col-xs-8
					label select your availability on fridays
					.form-group
						label.checkbox-inline 10
							input(type='checkbox', id='0')
						label.checkbox-inline 11
							input(type='checkbox', id='1')
						label.checkbox-inline 12
							input(type='checkbox', id='2')
						label.checkbox-inline 1
							input(type='checkbox', id='3')
						label.checkbox-inline 2
							input(type='checkbox', id='4')
						label.checkbox-inline 3
							input(type='checkbox', id='5')
						label.checkbox-inline 4
							input(type='checkbox', id='6')
						label.checkbox-inline 5
							input(type='checkbox', id='7')
						label.checkbox-inline 6
							input(type='checkbox', id='8')
						label.checkbox-inline 7
							input(type='checkbox', id='9')
						label.checkbox-inline 8
							input(type='checkbox', id='10')
						label.checkbox-inline 9
							input(type='checkbox', id='11')
						label.checkbox-inline 10
							input(type='checkbox', id='12')
						label.checkbox-inline 11
							input(type='checkbox', id='13')
						label.checkbox-inline 12
							input(type='checkbox', id='14')
						label.checkbox-inline 1
							input(type='checkbox', id='15')


			.row
				.col-xs-8
					label select your availability on saturdays
					.form-group
						label.checkbox-inline 10
							input(type='checkbox', id='0')
						label.checkbox-inline 11
							input(type='checkbox', id='1')
						label.checkbox-inline 12
							input(type='checkbox', id='2')
						label.checkbox-inline 1
							input(type='checkbox', id='3')
						label.checkbox-inline 2
							input(type='checkbox', id='4')
						label.checkbox-inline 3
							input(type='checkbox', id='5')
						label.checkbox-inline 4
							input(type='checkbox', id='6')
						label.checkbox-inline 5
							input(type='checkbox', id='7')
						label.checkbox-inline 6
							input(type='checkbox', id='8')
						label.checkbox-inline 7
							input(type='checkbox', id='9')
						label.checkbox-inline 8
							input(type='checkbox', id='10')
						label.checkbox-inline 9
							input(type='checkbox', id='11')
						label.checkbox-inline 10
							input(type='checkbox', id='12')
						label.checkbox-inline 11
							input(type='checkbox', id='13')
						label.checkbox-inline 12
							input(type='checkbox', id='14')
						label.checkbox-inline 1
							input(type='checkbox', id='15')
			.row
				.col-xs-8
					label select your availability on sundays
					.form-group
						label.checkbox-inline 10
							input(type='checkbox', id='0')
						label.checkbox-inline 11
							input(type='checkbox', id='1')
						label.checkbox-inline 12
							input(type='checkbox', id='2')
						label.checkbox-inline 1
							input(type='checkbox', id='3')
						label.checkbox-inline 2
							input(type='checkbox', id='4')
						label.checkbox-inline 3
							input(type='checkbox', id='5')
						label.checkbox-inline 4
							input(type='checkbox', id='6')
						label.checkbox-inline 5
							input(type='checkbox', id='7')
						label.checkbox-inline 6
							input(type='checkbox', id='8')
						label.checkbox-inline 7
							input(type='checkbox', id='9')
						label.checkbox-inline 8
							input(type='checkbox', id='10')
						label.checkbox-inline 9
							input(type='checkbox', id='11')
						label.checkbox-inline 10
							input(type='checkbox', id='12')
						label.checkbox-inline 11
							input(type='checkbox', id='13')
						label.checkbox-inline 12
							input(type='checkbox', id='14')
						label.checkbox-inline 1
							input(type='checkbox', id='15')


		.container-fluid
			.row
				.col-xs-2
					button.btn.btn-primary(type='submit') Submit