extends ../../_layout
block content
  .container-fluid
    .row
      .col-xs-12
        h1 Actions
        p!= messages('components/flash', locals)
    .row
      .col-xs-12
        a(href='admin/playlist')
          p Make a playlist
      
