extends ../../_layout
block content
  .container-fluid
    .row
      .col-xs-12
        h1 Actions
    if current_user.access >= 1
      .row
        #level1.col-xs-12.col-sm-6.col-sm-offset-3
          a(href='admin/playlist')
            p Make a playlist
    if current_user.access >= 2
      .row
        #level2.col-xs-12.col-sm-6.col-sm-offset-3
          a(href='admin/applications')
            p View pending applications
      
